# ------------------------------------------------------------------------
# python
# ------------------------------------------------------------------------
__pycache__/
*.pyc

# ------------------------------------------------------------------------
# evaluations
# ------------------------------------------------------------------------
out/
venv/

# ------------------------------------------------------------------------
# vscode
# ------------------------------------------------------------------------
*.code-workspace